<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FOCUS on Geography</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- build:css css/index1.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- endbuild -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="main-nav" style="display: none;">
    <div id="menu-icon-wrapper2" class="menu-icon-wrapper" style="visibility: visible;">
        <svg width="1000px" height="1000px">
            <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800" style="stroke-dashoffset: 5803.15; stroke-dasharray: 2901.57, 2981.57, 240;"></path>
            <path id="pathE" d="M 300 500 L 700 500" style="stroke-dashoffset: 800; stroke-dasharray: 400, 480, 240;"></path>
            <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200" style="stroke-dashoffset: 6993.11; stroke-dasharray: 3496.56, 3576.56, 240;"></path>
        </svg>

        <div id="menu-icon-trigger2" class="menu-icon-trigger"></div>
    </div>
    <img id="logo" src="img/focus-logo.svg"/>
    <div id="menu"></div>
</div>
<div id="logo-header" data-stellar-background-ratio="0.5" style="background-image:url(img/robinson.svg);background-repeat:no-repeat;background-size:cover;background-position:50% 50%;">
    <div id="headerwrap">
        <div class="container-fluid">
            <div class="row">
                <div id="header">
                    <!--<div id="map" class="header focus-green-70"></div>-->
                    <div id="logos" class="" style="
                position: absolute;
                top: 0px;
                z-index: 10;
                text-align: center;
                vertical-align: middle;
                width: 100%;
                height: 300px;
                padding: 20px;
            ">
                        <div class="">
                            <img src="img/focus-logo.svg" style="
                max-height: 240px;
                *margin-top: -20px;
                vertical-align: middle;
                text-align: center;
                position: relative;
            ">
                        </div>
                    </div>
                </div>
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/headerwrap -->
</div>
<section id="services" name="services"></section>
<div id="servicewrap">
    <div class="container">
        <div class="row mt centered">
            <h1>AUTHOR GUIDELINES</h1>

            <div class="col-12 col-lg-12">
                <p><em>Instructions for submission of manuscripts to the new digital FOCUS on Geography.</em></p>
                <p>All initial submissions should be sent via email to <a href="mailto:focus@americangeo.org">focus@americangeo.org</a>.

                    <strong>FOCUS on Geography</strong> is open to submissions from geographers and those who write

                    geographically. Feature articles or photo essays must be richly illustrated and contain compelling

                    narrative that is clear, well contextualized, and written for an informed general audience. A personal

                    perspective and sense of humor are welcome. FOCUS on Geography provides a space for a geographer’s

                    individual voice to emerge, free from professional jargon. At this time, we are accepting unsolicited

                    manuscripts for Photo Essays as well as Feature Articles. Although FOCUS will produce the GeoQuiz in-

                    house, we welcome suggestions of themes for future consideration. Review will be by at least two

                    members of the editorial board and will be fast; a decision will be rendered within six weeks from the

                    time of submission. We welcome submissions from AGS scholarship winners and <a href="http://americangeo.org/publications/" target="_blank">Geographical Review</a>

                    authors, for whom a photo essay in FOCUS on Geography can complement a research publication in the

                    <a href="http://americangeo.org/publications/" target="_blank">Geographical Review</a>.
                    </p>
                <p>
                    <strong>Initial submissions of both photo essays and feature articles should be single Word

                    documents with low-resolution photos and captions embedded in the document</strong>.</p>

                <div class="row mt centered">

                    <div class="col-lg-4 proc">
                        <i class="fa fa-newspaper-o focus-blue-text"></i>
                        <h3 class="focus-blue-text">Feature Articles</h3>
                <p>These should consist of an approximately 2,500-4,000 word narrative with

                    accompanying visuals consisting of at least one map and four to five photos. Additional graphs/charts, and

                    dynamic content such as animations or short video clips can be included. Feature articles can be about a

                    geographic perspective on current events, or can be based on geographic research that is oriented to a

                    broader audience than academics and written with little to no jargon. Feature Articles should contain

                    cited references but should avoid footnotes and endnotes. Standards for style, formatting and citations

                    should be the same as the <a href="http://americangeo.org/download/Author-Guidelines.pdf" target="_blank">Geographical Review.</a></p>
            </div>
            <div class="col-lg-4 proc">
                <i class="fa fa-camera-retro focus-yellow-text"></i>
                <h3 class="focus-yellow-text">Photo Essays</h3>
                <p>These should be visually rich with approximately 15-25 images and an accompanying

                    text or no more than 1,000 words that should consist only of an introductory and concluding paragraph

                    and captions, with no other narrative. Video clips may be included as well. Photo Essays should be

                    oriented around fieldwork or a geographic topic of broad interest. Citations are discouraged, but if used

                    these should conform to the <a href="http://americangeo.org/download/Author-Guidelines.pdf" target="_blank">Geographical Review</a> guidelines. Clear location (preferably latitude and

                    longitude, but named places with associated city, state, and country information, are also acceptable)

                    needs to be provided for each photo. If people are identifiable in photos, please indicate in your cover

                    letter that you have made every effort possible to receive permission to use their likeness.</p>
            </div>
            <div class="col-lg-4 proc">
                <i class="fa fa-trophy focus-orange-text"></i>
                <h3 class="focus-orange-text">Geo Quizzes</h3>
                <p>Although FOCUS will produce the GeoQuiz in-house, we welcome suggestions of themes for future consideration.</p>
            </div>
            </div>


                    <h2>Specific Guidelines</h2>
                <p>
                    Initial submissions of Feature Article or a Photo Essay must be accompanied by a written statement

                    from the author(s) that:</p>
                <ol><li>the manuscript is not under review elsewhere</li><li>the manuscript will not be submitted

                    to any other publication while it is under consideration for publication in digital FOCUS on Geography</li><li>

                    the contents have not been published elsewhere (including the Internet) in any form</li><li>the text is

                    not under copyright</li></ol>.
                <p>
                Manuscripts cannot be processed without this statement, which should be

                    included in the cover letter. Authors should indicate the word count in their cover letter.</p>
                <p>

                    It is assumed that potential authors are supporters of the American Geographical Society, either as AGS

                    Fellows or as subscribers to its journals. If that is not the case, please consult the AGS Web site,

                    <a href="http://americangeo.org/about-joining-ags/" target="_blank">http://americangeo.org</a> for membership options. It is anticipated that authors will support journals in

                    which they seek to publish.</p>
                <p>

                    A FOCUS on Geography submission should follow the general guidelines in <a href="http://www.chicagomanualofstyle.org/15/contents.html" target="_blank">The Chicago Manual of Style,

                    15th edition</a> and follow the formatting style of the GR. It is an author’s responsibility to provide a

                    manuscript that is accurate in both content and format. Appendixes are not acceptable.

                    Acknowledgments and identification of the author(s), including current position(s) and regular and e-mail

                    addresses, must be on a separate page at the end of the manuscript. Initial submission should include

                    illustrations (at lower resolution) and tables in the order and position in the manuscript as the author

                    wishes them to appear. Final submission of high resolution images will occur once accepted;

                    instructions will be sent to authors at acceptance. Please use 12-point type and double space the entire

                    manuscript, including any references. Margins should be 1.5 inches left and right. Number each page at

                    the bottom right.</p>
                <p>

                    Please provide a title that is clear and pointed—the shorter the better, 10-15 words, no subtitles. Please

                    do provide three-five clear keywords.</p>

                    <h2>Specific digital guidelines</h2>

                    <h3>ILLUSTRATIONS</h3>

                    <p>Captions for all illustrations should be placed where the authors intends for them to appear in the final

                    version and should be numbered sequentially. In Feature Articles there should be a related call-out in

                    the narrative linking the photograph to the text. In Photo Essays each photo should have a substantial

                    caption (3-4 sentences) that constitute the bulk of the narrative of the essay.</p>
                <p>

                    All photographs must have sharp focus and good contrast. We will only accept digital images, ideally

                    submitted as 300-ppi JPEG or TIFF files (although anything over 72 dpi can be worked with). Photos

                    should have a minimum width of 1280 pixels and a minimum of height of 800 pixels – higher widths and

                    heights are preferred. Clear location (preferably latitude and longitude, but named places with

                    appropriate city, state, and country detail is also acceptable) needs to be provided for each photo. If

                    people are identifiable in photos, please indicate in your cover letter that you have made every effort

                    possible to receive permission to use their likeness. For a photograph, include the month or season and

                    the year in which it was taken, as well as the name of the photographer; for other types of illustrations,

                    include the name of the artist or cartographer and, if appropriate, her or his institutional affiliation.
</p>

<p>
                    Maps, drawings, and diagrams must be submitted as a 300-ppi (anything over 72 dpi can be worked

                    with) PNG, JPEG, or TIFF created in or converted to Adobe Photoshop or some other Photoshop-compatible program. Diagrams and illustrations should ideally be provided as transparent PNG images

                    or in vector format. If authors are providing vector graphics, these should be submitted in Scalable

                    Vector Graphics (SVG) format. Authors are responsible for providing written permissions and proper

                    credits for any material they wish to reproduce from other sources. Maps should be crafted using

                    cartographic design and conventions. If a GIS was used to create maps, please provide the underlying

                    files used to create those maps as part of the final submission. This allows us to provide a web-ready, interactive version of these maps instead of a static image. Submitted geospatial files should be

                    provided in a format that is readable by common GIS software (QGIS or ArcGIS). This includes ArcGIS

                    compatible formats such as Shapefiles and File Geodatabases as well as KML, KMZ, and GeoJSON.</p>

                    <h3>TABLES</h3>
                <p>

                    Tables are only accepted in Feature Articles and should be included only when absolutely necessary to

                    corroborate main points in the text. Each table should be placed within the narrative where the author

                    wishes it to appear. Number tables consecutively through the manuscript. Do provide an explanatory

                    caption and call-out in the text. If necessary, cite the source of the data in a note immediately beneath

                    the table. Tables in WORD format are preferred over image-based versions of those tables, since this

                    allows editors to have more control over the styling of these tables and makes the material inside the

                    table searchable and discoverable by search engines.</p>

                    <h3>VIDEO AND OTHER INTERACTIVE MATERIAL</h3>
                <p>

                    If you are submitting audio or video clips, please submit them in one of the following formats/codecs:

                    <ul><li>Audio: mp3, oga</li>

                    <li>Video: mp4, ogv, webm</li></ul>
                <p>

                    Since different browsers support different formats and audio/video codecs, we need these files in one of

                    the previously mentioned formats and the ability to easily convert the original audio and video in the

                    other formats in order for audio/video to work across browsers.</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/servicewrap -->
<! -- SERVICE SECTION -->
<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p><strong>Have Questions? Interested in Submitting?</strong></p>
                <p>Use the associated contact form to send the editors an e-mail, or e-mail us at <a href="mailto:focus@americangeo.org">focus@americangeo.org</a></p>

            </div>

            <div class="col-lg-6">
                <form role="form" method="get" enctype="text/plain" action="mailto:focus@americangeo.org">
                    <div class="form-group">
                        <input type="text" name="name" id="name" placeholder="Your Name">
                        <input type="text" name="subject" id="email" placeholder="Subject">
                        <textarea name="body" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

        </div><! --/row -->
        <div class="row footer-row"></div>
    </div><!-- /container -->
</div>
<script id="menu-items-template" type="text/template">
    <div class="items"></div>
</script>
<script id="menu-item-template" type="text/template">
    <div class="publication col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="publication-wrapper">
            <span class="image" style="background-image:url(<%=thumbnail%>); background-size:cover;"></span>
            <a href="<%= url %>" class="<%= type.replace(' ', '').toLowerCase() %>">
                <h2><%= type %></h2>
                <div class="content">
                    <p><%= title %></p>
                </div>
            </a>
        </div>
    </div>
</script>
<!-- build:js js/index1.js -->
<script src='../bower_components/jquery/dist/jquery.min.js'></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/backbone/backbone.js"></script>
<script src="../bower_components/velocity/velocity.min.js"></script>
<script src="../bower_components/velocity/velocity.ui.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/smoothscroll/dist/smoothscroll.js"></script>
<script src="../bower_components/stellar/jquery.stellar.min.js"></script>
<script src="js/vendor/ease.min.js"></script>
<script src="js/vendor/segment.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/menu.js"></script>
<!-- endbuild -->
<script>
    $(function(){
        $.stellar({
            horizontalScrolling: false,
            verticalOffset: 0
        });
    });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-79613259-1','auto');ga('send','pageview');
</script>
</body>
</html>

